/* fundo clarinho */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fffcee;
}

/* card central */
.cadastro-container {
  width: 380px;
  margin: 120px auto 40px auto;
  background: #fff78b;
  padding: 28px;
  border-radius: 14px;
  border: 3px solid #ff5830;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cadastro-container h2 {
  color: #6b2d12;
  margin-bottom: 10px;
}

/* inputs iguais ao login */
.cadastro-container input {
  width: 100%;
  max-width: 320px;
  margin: 0 auto 12px auto;
  padding: 10px 12px;

  font-size: 16px;
  border: 2px solid #fff56a;
  border-radius: 8px;
  background: white;
}

/* inputs lado a lado */
.input-linha {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input-linha input {
  max-width: 150px;
}

/* botão igual ao login */
.cadastro-container button {
  width: 100%;
  padding: 14px;
  background-color: #ff5830;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.cadastro-container button:hover {
  background-color: #ff2e00;
}

.cadastro-container p {
  margin-top: 6px;
  color: #6b2d12;
  font-weight: bold;
}

/* footer grudado no final */
.footer-fix {
  margin-top: auto;
}
