.cadastro-container {
  width: 350px;
  margin: 140px auto 60px auto;
  text-align: center;
  font-family: Arial, sans-serif;

  padding-bottom: 120px; 
}

.cadastro-container h2 {
  margin-bottom: 20px;
}

.cadastro-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.cadastro-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-container button:hover {
  background-color: #1e7e34;
}