.consultar-container {
  width: 500px;
  margin: 80px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* leve cinza */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.consultar-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-consultar {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-consultar:hover {
  background-color: #0056b3;
}

.btn-limpar {
  flex: 1;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-limpar:hover {
  background-color: #b52a37;
}

.tabela-mesas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.tabela-mesas th,
.tabela-mesas td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
  color: #000; 
}

.tabela-mesas th {
  background-color: #007bff; 
  color: white;               
}

.tabela-mesas td {
  background-color: #f1f1f1; 
}

.tabela-mesas tbody tr:hover {
  background-color: #dbe9ff; 
}

.mensagem-erro {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}