.footer {
  width: 100%;
  height: 120px;
  background: linear-gradient(0deg, #6b2d12 0%, #d2b874 50%, #ffff56 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #6b2d12;
}
