
.footer {
  width: 100%;
  background: linear-gradient(0deg, #6b2d12 0%, #d2b874 50%, #ffff56 100%);
  
  padding: 20px 0;       
  margin-top: auto;       
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;        
}

.text {
  font-size: 18px;        
  font-weight: 700;
  color: #6b2d12;
  text-align: center;
}
