.header {
  width: 100%;
  height: 90px;
  background: linear-gradient(
    0deg,
    #6b2d12 0%,
    #d2b874 50%,
    #ffff56 100%
  );
  display: flex;
  align-items: center;
  position: fixed;        
  top: 0;                 
  left: 0;
  z-index: 10;            
}

.container {
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; 
}

.titleArea {
  flex: 1;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #6b2d12; 
  margin: 0;
}

.nav {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navItem {
  text-decoration: none;
  color: #6b2d12;
  font-size: 20px;
  font-weight: 600;
}

.navItem:hover {
  color: #ff0000;
}

.reservasArea {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.reservasBtn {
  background-color: #ff5830;
  padding: 12px 20px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.reservasBtn:hover {
  background-color: #ff0000;
}
