.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ),
    url("./padocadogusspasss.jpg");

  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay escuro para dar contraste */
.overlay {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.45);
}

/* título central */
.title {
  font-size: 70px;
  font-weight: 900;
  color: #ffff56; /* mesma paleta do header */
  text-shadow: 0 3px 8px rgba(0,0,0,0.8);
}
.content {
  flex: 1;
}