.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;

  /* gradiente baseado na paleta */
  background: linear-gradient(
    180deg,
    #ffff56 0%,
    #f8e97a 20%,
    #d2b874 60%,
    #6b2d12 100%
  );
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6b2d12;   /* combina com o header */
}
