.login-container {
  width: 320px;
  margin: 120px auto;
  text-align: center;
  background: #ffff81; /* amarelo suave */
  padding: 25px;
  border-radius: 10px;
  border: 3px solid #ff5830; /* laranja */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #6b2d12;
  font-weight: 700;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 2px solid #ffff56; /* amarelo médio */
  border-radius: 6px;
  background: white;
}

.login-container input:focus {
  border-color: #ff0000; /* vermelho */
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #ff0000; /* vermelho */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #ff5830; /* laranja */
}
